
{% from "image_preview.html" import image_preview %}
<h1>Gallery</h1>

<form action="/set_sorting" method="get">
  <label for="sorting">Sorting:</label>
  <input list="sorting-options" name="sorting" id="sorting">
  <datalist id="sorting-options">
    <option value="Newest">
    <option value="Oldest">
    <option value="Most viewed">
    <option value="Least viewed">
  </datalist>
  <input type="submit" value="Sort">
</form>
<div class="image-grid">
  {% for post in posts %}
    {{ image_preview(post[2], post[0], post[1], post[3]) }} 
  {% endfor %} 
</div>

