

{% macro image_preview_info(date,views,other) %}  
  <div class="image-preview-info">
    <p> {{ date }} </p>
    <p> {{ views }} </p>
    <p> {{ other }}</p>
  </div>
{% endmacro %}

{% macro image_preview(name,poster,image_id) %}  
  <div class="image-preview-block">
    <a href="/" class="image-link-button">
    <h2 class="image-preview-name"> {{ name }} </h2>
    <img class="preview-image" src="image/{{ image_id }}" />
    </a>
    <a href="/" class="image-link-button">
    <h4 class="image-preview-poster"> {{ poster }} </h4>
    </a>
    {{ image_preview_info("dd:mm:yyyy", "millions", "something") }}
  </div>
{% endmacro %}
 
