<!DOCTYPE html>
<html>
<head>
  <title>Galleria</title>
</head>
<body>
  <link rel="stylesheet" href="/static/style.css">
  <main/>
    <div class="main-grid">
      <div class="main">
        {% if session.page == "/front_page" %}
          {% include 'front_page.html' %}
        {% elif session.page == "/new_post" %}
          {% include 'new_post.html' %}
        {% elif session.page.startswith("/post") %}
          {% include 'post_page.html' %}
        {% else %}
        <p>error</p>
        {% endif %}
      </div>
      <div class="account-block">
        {% include 'account_block.html' %}
      </div>
    </div>
  </main>
</body>

</html>
